@font-face {
  font-family: Golos;
  src: url("/assets/fonts/GolosText-Regular.ttf");
}
@font-face {
  font-family: Druk;
  src: url("/assets/fonts/Druk Wide Bold.ttf");
}
.block {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 5%;
}

.row {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
.row > * {
  padding-left: 0;
  padding-right: 0;
}

/******************************************************MAIN*******************************************************************/
*,
*:before,
*:after {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #030303;
}

ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

.contact-form-block, .presentation-block, .services-block, .about-us-block, .start-block {
  width: 100%;
  height: 100vh;
  align-items: center;
}

.content-item {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
}

.content-block {
  margin-top: 5%;
  width: 40%;
}

.content-text {
  margin-bottom: 5%;
}

.slider-item-button, .gray-button, .green-button, .transparent-button, .white-button {
  width: 50%;
  border-radius: 60px;
  padding: 1%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.white-button {
  border: none;
  background-color: #FFFFFF;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.transparent-button {
  display: inline-flex;
  letter-spacing: 2.5px;
  border: 0.1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 12pt;
}

.green-button {
  color: #FFFFFF;
  padding: 3%;
  background-image: linear-gradient(to bottom, #FFFFFF -200%, #539074 50%, #FFFFFF 500%);
  box-shadow: 0px 15px 20px #539074;
}

.gray-button {
  width: 100%;
  border: 1px solid rgba(164, 185, 192, 0.3294117647);
}

.slider-item-button {
  padding: 0;
  font-weight: bolder;
  font-size: 14pt;
  color: #FFFFFF;
  background-image: linear-gradient(to bottom, #FFFFFF -200%, #539074 50%, #FFFFFF 500%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
}

.green-button:hover {
  transform: translateY(-7px);
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  -webkit-transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  -moz-transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  -ms-transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  -o-transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  background: #FFFFFF;
  color: #030303;
  box-shadow: 0px 15px 20px #FFFFFF;
  cursor: pointer;
}

.green-button::after {
  transform: translateY(100%);
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.green-button:hover > .icon-arrow {
  filter: invert(0%) sepia(0%) saturate(7483%) hue-rotate(139deg) brightness(98%) contrast(97%);
}

.icon {
  width: 8%;
  height: 8%;
  margin-right: 3%;
  align-items: center;
  align-content: center;
  display: flex;
}

.icon-image {
  width: 100%;
  height: 100%;
}

.icon-arrow {
  width: 8%;
  height: 8%;
  margin-left: 3%;
  margin-right: 0;
  transform: rotate(-45deg);
  filter: invert(90%) sepia(21%) saturate(206%) hue-rotate(150deg) brightness(79%) contrast(87%);
}

.menu-text {
  font-family: "Golos";
  font-size: 14pt;
  color: #030303;
}

.big-text {
  font-family: "Druk";
  font-size: 35pt;
  color: #FFFFFF;
  line-height: 41pt;
}

.big-text-green {
  color: #539074;
}

.main-text {
  font-family: "Golos";
  font-size: 12pt;
  color: #FFFFFF;
}

.start-block__nav-bar {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.start-block__nav-bar li:nth-child(2) {
  font-size: 12px;
  width: 20%;
}

.start-block__logo {
  font-family: "Druk";
  font-size: 14pt;
  color: #FFFFFF;
}

.start-block__telephone {
  max-width: 17%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.start-block {
  background: linear-gradient(135deg, rgba(80, 201, 171, 0.13), rgba(84, 147, 131, 0.258)), url("/assets/img/house.jpg");
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: center;
  background-size: cover;
  box-shadow: 150px -50px 200px 62px rgb(3, 3, 3) inset;
}

.about-us-block {
  margin-top: 5%;
  padding-top: 0;
}

.about-us-block__content {
  margin-top: 0;
  display: flex;
  align-items: center;
}

.about-us-block__items {
  width: 80%;
  justify-content: space-between;
}

.about-us-block__item-icon {
  max-width: 4.5vw;
}

.about-us-block__main-text {
  margin-top: 5%;
}

.about-us__image {
  padding: 0.3rem 0.7rem;
  width: 70%;
  min-height: 100%;
}

.about-us-block__grid--second-item {
  margin-top: 3%;
  margin-left: 3%;
}

.about-us-block__grid-item {
  height: 45vh;
  width: 17vw;
  border-radius: 40px;
  border: none;
  overflow: hidden;
}
.about-us-block__grid-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-us-block__grid-item img:hover {
  transition: transform 400ms ease-out;
  transform: scale(1.15);
}

.second-grid-item {
  margin-top: 5%;
}

.services-block {
  margin-top: 5%;
}

.services-block__info {
  justify-content: space-between;
  align-items: center;
}

.services-block__main-text > p {
  padding-top: 5%;
}

.hidden {
  display: none;
}

.services-block__slider-body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.services-block__slider-item {
  width: 260px;
  height: 25rem;
  cursor: pointer;
}
.services-block__slider-item.active {
  width: 500px;
}

.services-block__item-body {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: center;
  background-size: cover;
}
.services-block__item-body#item1 {
  background-image: url("/assets/img//service//forest.jpg");
}
.services-block__item-body#item2 {
  background-image: url("/assets/img//service//pool3.jpg");
}
.services-block__item-body#item3 {
  background-image: url("/assets/img//service//food.jpg");
}
.services-block__item-body#item4 {
  background-image: url("/assets/img//service//travel.jpg");
}
.services-block__item-body#item5 {
  background-image: url("/assets/img//service//wood.jpg");
}
.services-block__item-body#item6 {
  background-image: url("/assets/img//service//fitness.jpg");
}
.services-block__item-body#item7 {
  background-image: url("/assets/img//service//parking.jpg");
}
.services-block__item-body#item8 {
  background-image: url("/assets/img//service//sauna-banya.jpg");
}
.services-block__item-body#item9 {
  background-image: url("/assets/img//service//spa.jpg");
}

.services-block__slider-content {
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.services-block__slider-button--green {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.services-block__content-logo {
  font-family: "Druk";
}

.services-block__slider-item {
  display: flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.services-block__slider-item::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.services-block__slider-item.active .services-block__description {
  transform: none;
  -webkit-transform: none;
}

.services-block__slider-item.active .services-block__description .services-block__item-description {
  opacity: 1;
  transform: translateY(0);
}

.btn-active {
  display: none;
}

.services-block__description {
  width: 80%;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.services-block__item-name {
  font-size: 14pt;
}

.services-block__slider-item .services-block__item-description {
  margin-top: 3%;
  opacity: 0;
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.presentation-block {
  box-shadow: inset 0px 0px 250px #000, inset 0px 0px 250px #000, inset 0px 0px 250px #000;
  height: 60vh;
  background: linear-gradient(135deg, rgba(2, 3, 3, 0.705), rgba(0, 0, 0, 0.705)), url("/assets/img/house5.jpg");
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: center;
  background-size: cover;
}

.presentation-block__info {
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.presentation-block__content {
  width: 60%;
}

.presentation-block__play-button {
  width: 20%;
  height: 50px;
  margin: 0;
  text-decoration: none;
}

.presentation-block__button-content {
  width: 70%;
  justify-content: space-around;
  align-items: center;
}
.presentation-block__button-content img {
  width: 20%;
  height: 20%;
}

.contact-form-block {
  box-shadow: inset 0px 0px 250px #000, inset 0px 0px 250px #000, inset 0px 0px 250px #000;
  height: 80vh;
  background: url("/assets/img/jungle_1.jpg");
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: center;
  background-size: cover;
}

.contact-form-block__info {
  height: 100%;
}

.contact-form-block__content {
  height: 70%;
  align-items: center;
}

.contact-form-block__info-text > :nth-child(n+2) {
  font-size: 25pt;
}

.contact-form-block__form-content {
  background-color: #FFFFFF;
  border-radius: 40px;
  padding: 50px 30px;
  height: 100%;
}

fieldset > div {
  margin-bottom: 5%;
}
fieldset > div > :last-child {
  margin-bottom: 0;
}

.input {
  position: relative;
  width: 100%;
  display: inline-flex;
  align-items: center;
}
.input span {
  position: absolute;
  display: block;
  color: #86a2ab;
  left: 25px;
  font-size: 20px;
  padding-right: 20px;
}
.input input {
  width: 100%;
  padding: 25px 5px 25px 50px;
  display: block;
  background-color: #F6F6F6;
  border: 2px solid rgba(184, 184, 184, 0.1764705882);
  border-radius: 40px;
  transition: 0.2s ease-out;
  color: #a4b8c0;
}
.input input:focus {
  padding: 25px 5px 25px 25px;
  outline: 0;
  border-color: #cde2d8;
  background-color: white;
}

.contact-form-block__form-text1, .contact-form-block__form-text2 {
  color: #030303;
  text-align: center;
  font-size: 24px;
}

.contact-form-block__form-text2 {
  font-size: 18px;
}

.form-check-label {
  color: #86a2ab;
  font-size: 0.7rem;
}
.form-check-label > a {
  color: #86a2ab;
}/*# sourceMappingURL=style.css.map */