//----------------------------------Colors------------------------------------------
$base-color: #539074;
$gradient-color: #A4B9C0;
$accent-color: #FFFFFF;
$back-color: #030303;

$start-block-shadow: 150px -50px 200px 62px rgba(3, 3, 3, 1) inset;

$gray-filter: invert(90%) sepia(21%) saturate(206%) hue-rotate(150deg) brightness(79%) contrast(87%);
$black-filter: invert(0%) sepia(0%) saturate(7483%) hue-rotate(139deg) brightness(98%) contrast(97%);
//---------------------------------------------------------------------------------

//-----------------------------------Fonts-------------------------------------------
@import "fonts";

$family-druk: "Druk";
$family-golos: "Golos";

$main-font-size: 12pt;
$accent-font-size: 30pt;
$second-font-size: 14pt;
//-----------------------------------------------------------------------------------

//-------------------------------Margins/Paddings-------------------------------------
$content-offset: 5%;
$block-offset: 15%;
$item-offset: 3%;
//------------------------------------------------------------------------------------

//--------------------------------------WH--------------------------------------------
$icon-size: 8%;
$container-size: 50rem;
$hover-easing: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
$return-easing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
//-----------------------------------------------------------------------------------
 
$baseurl : "/assets/img/";


/******************************************************MAIN*******************************************************************/


//-------------------------------------------------------Base style-----------------------------------------------------------
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $back-color;
}

ul {  
  list-style: none;
  text-decoration: none;
  padding: 0;
}
//----------------------------------------------------------------------------------------------------------------------------

//-----------------------------------------------------Content classes---------------------------------------------------------

%content {
  width: 100%;
  height: 100vh;
  align-items: center;
}

.content-item {
  padding-left: $block-offset;
  padding-right: $block-offset;
  padding-top: 2%;
}

.content-block {
  margin-top: $content-offset;
  width: 40%;
}

.content-text {
  margin-bottom: $content-offset;
}

//----------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------Buttons--------------------------------------------------------------

%button {
  width: 50%;
  border-radius: 60px;
  padding: 1%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.white-button {
  @extend %button;
  border: none;
  background-color: $accent-color;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.transparent-button {
  @extend %button;
  letter-spacing: 2.5px;
  border: 1px solid $accent-color;
  color: $accent-color;
  font-size: $main-font-size;
}

.green-button {
  @extend %button;
  color: $accent-color;
  padding: $item-offset;
  background-image: linear-gradient(to bottom, $accent-color -200%, $base-color 50%, $accent-color 500%);
  box-shadow: 0px 15px 20px $base-color;
}

.grey-button {
  @extend %button;
  width: 100%;
  border: 1px solid #a4b9c054;
}

.green-button:hover{
  transform: translateY(-7px);
  transition: $hover-easing;
  -webkit-transition: $hover-easing;
  -moz-transition: $hover-easing;
  -ms-transition: $hover-easing;
  -o-transition: $hover-easing;
  background: $accent-color;
  color: $back-color;
  box-shadow: 0px 15px 20px $accent-color;
  cursor: pointer;
}

.green-button::after {
  transform: translateY(100%);
  transition: $return-easing;
}

.green-button:hover > .icon-arrow {
  filter: $black-filter;
}

//------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------Icons------------------------------------------------------------

.icon {
  width: $icon-size;
  height: $icon-size;
  margin-right: $item-offset;
  align-items: center; 
  align-content: center; 
  display: flex;
}

.icon-image {
  width: 100%;
  height: 100%;
}

.icon-arrow {
  width: $icon-size;
  height: $icon-size;
  margin-left: $item-offset;
  margin-right: 0;
  transform: rotate(-45deg);
  filter: $gray-filter;
}

//----------------------------------------------------------------------------------------------------------------------------

//-----------------------------------------------------Textes-----------------------------------------------------------------

.menu-text {
  font-family: $family-golos;
  font-size: $second-font-size;
  color: $back-color;
}

.big-text{
  font-family: $family-druk;
  font-size: $accent-font-size;
  color: $accent-color;
  line-height: 37pt;
}

.big-text-green {
  @extend %big-text !optional;
  color: $base-color;
}

.main-text {
  font-family: $family-golos;
  font-size: $main-font-size;
  color: $accent-color;
}

//----------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------Nav-menu--------------------------------------------------------------

.content-container__nav-menu__nav-bar {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.content-container__nav-menu__nav-bar__logo {
  font-family: $family-druk;
  font-size: $second-font-size;
  color: $accent-color;
}

.content-container__nav-menu__nav-bar__telephone {
  max-width: 17%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

//-----------------------------------------------------------------------------------------------------------------------------

//-----------------------------------------------------Start-block-------------------------------------------------------------

.content-container__start-block {
  @extend %content;
   background: linear-gradient(135deg, rgba(80, 201, 171, 0.13), rgba(84, 147, 131, 0.258)), 
               url($baseurl + "house.jpg");
  //background-image: url($baseurl + "house.jpg");
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: $start-block-shadow;
  -moz-box-shadow: $start-block-shadow;
  box-shadow: $start-block-shadow;
}

//------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------About-us-------------------------------------------------------------

.content-container__about-us-block {
  @extend %content;
  margin-top: $content-offset;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content-container__about-us-block__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-container__about-us-block__info__content {
  margin-top: 0;
  display: flex;
  align-items: center;
}

.content-container__about-us-block__info__content__list__items > li {
  margin-left: $item-offset;
}

.content-container__about-us-block__info__content__list__items__icon {
  max-width: 5vw;
}

.content-container__about-us-block__info__content__main-text {
  margin-top: $content-offset;
}

.about-us-img {
  padding: 0.3rem 1rem 0.3rem 1rem;
  width: 80%;
}

.content-container__about-us-block__info__img-block__grid__item2 {
  margin-top: $item-offset;
  margin-left: $item-offset;
}

.grid_item {
  & {
    height: 45vh;
    width: 17vw;
    border-radius: 40px;
    border: none;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  img:hover {
    transition: transform 400ms ease-out;
    transform: scale(1.15);
  }
}

.second-grid-item {
  margin-top: $content-offset;
}

.content-container__services-block__info-block {
  justify-content: space-between;
  align-items: center;
}

//-----------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------About-us-------------------------------------------------------------

.content-container__services-block {
  @extend %content;
  margin-top: $content-offset;
}

//-----------------------------------------------------------------------------------------------------------------------------


//***************************************************************************************************************************